.transaction
  .thorizontal
    .tlabel
      = f.label t('.card')
    .tcheck
      = check_box_tag "invoice_card"
  .thorizontal
    .tlabel-title
      = label_tag t('.amount_card')
    .tamount
      = label_tag "", nil, id: "amount_card", class: "pretty-input"
