%form.form-signin
  %h2.form-signin-heading Please sign in

  %input.form-control{:autofocus => "", :placeholder => "Email address", :type => "text"}/

  %input.form-control{:placeholder => "Password", :type => "password"}/

  %label.checkbox
    %input{:type => "checkbox", :value => "remember-me"}/
    Remember me

  %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Sign in
