.landing
  %form.form-signin
    %h2.form-signin-heading Registrarse
    %input.form-control{ autofocus: "",
                         placeholder: "Direccion de Email",
                        type: "text"}/
    %input.form-control{ placeholder: "Contraseña", type: "password"}/
    %label.checkbox
      %input{ type: "checkbox", value: "remember-me"}/
      Recordar
    %button.btn.btn-lg.btn-primary.btn-block{ type: "submit"} Ingresar
