$(document).ready(function() {

  $('#receipt_customer_tokens').tokenInput('/customers.json', {
    crossDomain: false,
    prePopulate: $('#receipt_customer_token').data('pre'),
    theme: "facebook",
    tokenLimit: "1",
    noResultsText: "<%= I18n.t('.token_input.noResultsText')%>",
    hintText: "<%= I18n.t('.token_input.hintText')%>",
    searchingText: "<%= I18n.t('.token_input.searchingText')%>",
    resultsFormatter: function(item){
      return "<li><p style='color: black' >" + item.name
      + " " + item.surname +  ". DNI: " + item.dni + " </p> </li>" },
    tokenFormatter: function(item) {
      return "<li><p>" + (item.name + " " +
      item.surname ).substring(0,22)+ ". DNI: " + item.dni + " </p> </li>" }
  });

  $("#receipt_customer_tokens").on("change", function(){ 
    $('#invoices-table').show();
    if ( $("#receipt_customer_tokens").val() == "" ) {
      $("#type_vat_label").text("");
      $("#registered_name_label").text(""); 
      $('#invoices-table').hide();
    } else {
      customer_id = ($("#receipt_customer_tokens").tokenInput("get"))[0].id ;
      $.ajax({
          type: "GET",
          url: "/customers/" + customer_id,
          dataType: "json",
      })
      .done(function(data, textStatus, xhr){
        $("#type_vat_label").text(data.customer.type_iva);
        $("#registered_name_label").text(data.customer.registered_name);      
        var invoice_table = $('#invoices-table').dataTable({
          sPaginationType: "full_numbers",
          bJQueryUI: true,
          bProcessing: true,
          bServerSide: true,
          bDestroy: true,
          sAjaxSource: "/customers/" + customer_id,
          sAjaxDataProp: "table.aaData",
          sScrollY: "200",
          oLanguage: {
            sUrl: "/datatables/spanish.txt"
          }  
        });
        multiSelectedRow(invoice_table, "#invoices-table");
      });  
    }   
  });

  $('#openBtn-bank').click(function(){
    $('#bank-modal').modal('show');
  });
  
  hiddenInputs();

  // changes the visibility of transactions inputs
  $("#cash").on('click', function(e){
    $(this).parents(".thorizontal").siblings().toggle("show");
  });

  $("#check").on('click', function(e){
    var check = $("#check");         
    if (check.prop('checked')) {
      $(this).parents(".thorizontal").siblings().toggle("show");
      $('#data-check').show("slow");
    } else {
      $('#data-check').hide("slow");
      check.parents(".thorizontal").siblings().hide();
    }  
  });

  $("#receipt_amount_check, #receipt_amount_cash").on('change', function(){
    var amount_check = 0, amount_cash = 0, amount = 0;
    if ($("#receipt_amount_cash").val() != "")
      amount_cash = parseFloat($("#receipt_amount_cash").val());
    if ($("#receipt_amount_check").val() != 0)
      amount_check = parseFloat($("#receipt_amount_check").val());
    amount = amount_cash + amount_check;
    $("#amount").text(amount);
  })

});

function hiddenInputs () {
  var check, cash;
  check = $('#check');
  cash = $('#cash');
  if (!check.prop('checked')){
    $('#data-check').hide();
    $('#invoices-table').hide();
    check.parents(".thorizontal").siblings().hide();
  }
  if (!cash.prop('checked')) {
    cash.parents(".thorizontal").siblings().hide();
  }
}



