@import "twitter/bootstrap";

#checks {
  // sub-header check
  .check-new {
    @extend .btn, .btn-primary;
  }

  .check-print {
    @extend .btn, .btn-primary, .pull-right;
  }

  .check-danger {
     @extend .btn, .btn-danger;
  }

  .check-save {
     @extend .btn, .btn-primary;
  }

  #openBtn-check{
    @extend .btn, .btn-primary
  }

  #openBtn-bank{
    @extend .btn, .btn-primary
  }



  // active color of the tabs
  .nav-tabs > li.active > a, .nav-tabs > li.active > a {
    background-color: #E0DFDB !important;
  }

  // sub-header
  .sub-header {
    display: block;
  }

  .sub-header > a{
    margin: 5px;
  }

  #new_check, form[id*='edit_check_'] {
    background-color: #E0DFDB  ;
    padding-left: 40px;
    padding-right: 40px;
  }


  // tabs check
  .check-tabs {
    @extend .nav, .nav-tabs;
    li > a {
      @extend .btn, .btn-success;
    }
  }

  // form new, edit and modal
  .data-check, .modal-body {
    @include make-row();
    @extend .form-horizontal;
    .input {
      @extend .form-group;
      label {
        @extend .col-lg-3, .control-label;
      }
      input {
        @extend .col-lg-6;
      }
      select {
        @extend .col-lg-6;
      }
    }

    .input-group-addon {
      font-size: 19px;
    }

  }

  .data-check .left, .right {
    @include make-lg-column(6);
    .title { font-size: 15pt;
             margin: 20px; }
  }

  .pretty-input {
    @extend .form-control
  }

  .pretty-input-data-table {
    height :25px !important;
    padding:1px 12px !important;
    @extend .form-control;
  }

  // handled errors
  .field_with_errors {
    display: inline;
  }

   .note{
    @extend .col-lg-6;
    font-weight: bold;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 6px 12px;
  }

  // show check
  .show-check {
    background-color: #E0DFDB;
    @include make-row();
    @extend .form-horizontal;
    .input {
      @extend .form-group;
      label:first-child {
        @extend .col-lg-3, .control-label;
      }

      label:nth-of-type(2) {
         @extend .col-lg-6, .control-label;
        text-align: left;
      }

    }

    .left, .right {
      @include make-lg-column(6);
      .title { font-size: 15pt;
               margin: 20px; }
    }
  }
}
