#header {
  .menu-head {
    @extend .nav, .nav-justified;
  }

  .menu-head li > a {
    @extend .btn, .btn-primary;
    padding: 0px;
    border-radius: 0px;
  }

  .menu-head li:last-child a  {
    @extend .btn-danger;
  }

  ul.menu-head {
    a {
      &:hover{
        color: #418AE2;
        background-color: #6BC9F8;
      }
      &.active{
        color: #418AE2;
        background-color: #6BC9F8;
      }
    }
  }
}  