@import "twitter/bootstrap";

#invoices {

  // sub header
  // ----------
  .sub-header {
    display: block;
    padding: 5px;
  }
  .title-sub-header {
    padding-left: 30px;
    font-size:30px;
    margin-top: 10px;
    display: inline
  }
  .sub-header > a{
    margin: 5px;
  }
  .invoice-danger {
     @extend .btn, .btn-danger;
  }
  .invoice-save-finish {
     @extend .btn, .btn-success;
  }
  .invoice-save-building {
     @extend .btn, .btn-primary;
  }

  // Tabs
  // ----
  .invoices-tabs {
    @extend .nav, .nav-tabs;
    li > a {
      @extend .btn, .btn-primary;
      &:hover {
        color: #418AE2;
        background-color: #6BC9F8;
      }
    }
  }
  .invoices-tabs-content { @extend .tab-content }


  // items
  // -----
  #items{
    margin-left: 5px;
    margin-right: 5px;
    .table { @extend .col-lg-10 }
    .total-price { @extend .col-sm-1 }
    .total-price .text {
      display: inline;
      font-size: 20px
    }
    .total-price .price  {
      display: inline;
      font-size: 20px;
    }
  }
  #items .total-price {
    margin-top: 10px;
    border-radius: 10px ;
    border: 1px solid gray;
    a > i { padding: 5px }
    text-align: center
  }
  #items div.dataTables_wrapper { padding-top: 10px }

  .token_field{
    margin: 10px;
    .title { font-size: 20px }
    .token-input-list-facebook, .title { display: inline-block }
  }
}
