@import "bootstrap";

#suppliers {
  // active color of the tabs
  .nav-tabs > li.active > a, .nav-tabs > li.active > a {
    background-color: #E0DFDB !important;
  }

  // sub-header
  .sub-header {
    display: block;
  }

  .sub-header > a{
    margin: 5px;
  }

  // sub-header supplier
  .supplier-new {
    @extend .btn, .btn-xs, .btn-primary;
  }

  .supplier-print {
    @extend .btn, .btn-primary, .btn-xs, .pull-right;
  }

  .supplier-danger {
     @extend .btn, .btn-xs, .btn-danger;
  }

  .supplier-save {
     @extend .btn, .btn-xs, .btn-primary;
  }

  #new_supplier, form[id*='edit_supplier_'] {
    background-color: #E0DFDB  ;
    padding-left: 40px;
    padding-right: 40px;
  }

  // tabs supplier
  .supplier-tabs {
    @extend .nav, .nav-tabs;
    li > a {
      @extend .btn, .btn-success;
    }
  }

  // form new and edit supplier data
  .new-supplier, .edit-supplier {
    @include make-row();
    @extend .form-horizontal;
    .input {
      @extend .form-group;
      label {
        @extend .col-lg-3, .control-label;
      }
      input {
        @extend .col-lg-4;
      }
      select {
        @extend .col-lg-4;
      }
    }

    .input-group-addon {
      font-size: 19px;
    }

  }

  .new-supplier .left, .right, .edit-supplier .left, .right {
    @include make-lg-column(6);
    .title { font-size: 15pt;
             margin: 20px; }
  }

  .pretty-input {
    @extend .form-control
  }

  // handled errors
  .field_with_errors {
    display: inline;
  }

  // show supplier
  .show-supplier {
    background-color: #E0DFDB;
    @include make-row();
    @extend .form-horizontal;
    .input {
      @extend .form-group;
      label {
        @extend .col-lg-3, .control-label;
      }
    }

    .left, .right {
    @include make-lg-column(6);
    .title { font-size: 15pt;
             margin: 20px; }
    }
  }
}
