.modal-dialog
  .modal-content
    .modal-header
      %button.close{"data-dismiss" => "modal", type: "button"} ×
      %h3 Nuevo IVA
    .modal-body
      %p My modal content here…
    .modal-footer
      %button.btn{"data-dismiss" => "modal"} Close