#receipts
  .title-sub-header
    = t('.receipt')
  .sub-header
    -if edit_or_new_page?(@receipt)
      %a.receipt-save
        %i.icon-save.icon-2x
        = t('.save')
      %a.receipt-danger{href: "#{documents_path}"}
        %i.icon-remove-sign.icon-2x
        = t('.cancel')
        