.transaction
  .thorizontal
    .tlabel
      = f.label t('.check')
    .tcheck
      .tcheckbox
        = check_box_tag "check"
  .thorizontal
    .tlabel
      = f.label :amount_check
    .tinput
      = f.text_field :amount_check, class: "pretty-input"
