%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %link{:href => "../../assets/ico/favicon.png", :rel => "shortcut icon"}/
    %title Signin Template for Bootstrap
    / Bootstrap core CSS
    %link{:href => "../../dist/css/bootstrap.css", :rel => "stylesheet"}/
    / Custom styles for this template
    %link{:href => "signin.css", :rel => "stylesheet"}/
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    %style#bitmark_stylesheet{:type => "text/css"}

  %body{"cz-shortcut-listen" => "true"}
    .container
      = yield

    / /container

